[2020-01-21 10:55] mannodermaus opened #1 "Could this plugin theoretically work with dimension resources?"
Thank you for publishing this plugin! I hope to be able to integrate it into a project some day.

One of the longest-running grievances I've had with the Android resource system is the missing ability to reference dimension resources for calculations. Whenever this has been necessary, awful comments had to express the intent behind the compound values. Lo and behold if one of the referenced values

[2020-01-21 13:58] LikeTheSalad commented on #1
Hi @mannodermaus - Thanks for your feedback!

I understand, I think it would be a great option to have as well. As for whether it is possible or not, I'm sure it is :) The resources gathering is just about reading XML tags all over the project's res dirs which are already provided by the android build plugin. Although I think such feature wouldn't fit for the scope of this particular plugin but as

[2020-03-13 12:45] danaimset opened #2 "Plugin is not applied to modules (library projects)"
There is not way to generate strings from templates inside submodules (com.android.library)

[2020-03-15 10:44] LikeTheSalad commented on #2
Hi @danaimset, that's as expected at the moment, only strings in the project are used and the ones in the project's dependencies are ignored. I'm planning to add support for strings in dependencies too for the next release.

[2020-05-09 16:48] LikeTheSalad commented on #2
Hi @danaimset you can now use strings from your app's dependencies by turning on in your app's `build.gradle` file the new flag `useDependenciesRes` added on `1.2.0` like so:

[code]
Hope that gets it sorted for you.
Cheers.

[2020-05-09 16:48] #2 closed

[2020-07-14 06:53] Voto commented on #2
@LikeTheSalad cool, that last option makes the lib feasible for our project. We will try It out to generate URIs to be used by android jetpack navigation deeplink property. making uris <scheme-by-flavor>://<host_name>

[2020-07-14 09:38] LikeTheSalad commented on #2
Glad to hear it @Voto I hope it works as you need it, in case you find a problem please raise a ticket 🙂

[2020-07-31 15:55] francescogatto opened #3 "Is this plugin works with last AS 4.0 and last Gradle plugin?"
I tried to use it, ma is not working

Thanks

[2020-07-31 20:08] LikeTheSalad commented on #3
Hi @francescogatto - I just tried with AS 4.0.1, Android build plugin 4.0.1, and Gradle wrapper 6.1.1 and it worked for me. I'm going to need a bit more details such as:

- Have you added the changes on both root and app build.gradle files?
- Are you using it after the plugin declaration for `com.android.application`?
- After creating your template, have you built your project before looking for t

[2020-08-18 03:40] green-green-avk opened #4 "How to substitute variables from a build.gradle script?"
This project looks pretty good... However how to substitute the `applicationId` variable from a `build.gradle` script?

**build.gradle**
[code]

***some*.xml**
[code]

**Build error message:** `Key applicationId is missing in the map.`

*But:*

**build/generated/res/resValues/debug/values/gradleResValues.xml**
[code]

[2020-08-18 06:11] LikeTheSalad commented on #4
Hi @green-green-avk , thanks for your feedback :slightly_smiling_face:

At the moment this plugin only takes resources from your src folder, however, it's a good point that it should also take into account Gradle's generated ones as well. I'll add support for them in the next release :+1:

Thanks.

[2020-08-18 06:15] LikeTheSalad commented on #3
I'll close this issue due to inactivity, please reopen if you keep seeing the issue and if you can provide the details asked above, it will help sort it out.

Thanks.

[2020-08-18 06:15] #3 closed

[2020-08-18 18:24] green-green-avk commented on #4
Why not to add a variable like `manifestPlaceholders` to add the values from a build script directly?
(<https://developer.android.com/studio/build/manifest-build-variables>)

[2020-08-19 05:50] LikeTheSalad commented on #4
That's not a bad idea! however, since this plugin is already built for xml inputs, it'd be more natural to get the generated xml strings. It would also make things smoother when it comes to getting variant-specific generated strings, like the ones in your example, as they can be found on the `resValues` dir ordered by variant name.

Thanks!

[2020-08-25 07:04] LikeTheSalad commented on #4
Hi @green-green-avk - I've just released version `1.2.1` which has support for gradle-generated strings :)

Again thanks for your feedback! and please let me know if you happen to see another issue.

Regards,
Cesar.

[2020-08-27 01:07] green-green-avk commented on #4
Thank you for the quick solution. It works!

[2020-08-27 01:07] #4 closed

[2020-08-27 01:16] green-green-avk opened #5 ""Property '...' is not annotated with an input or output annotation..." warning"
It makes no impact. Just for information.

[code]

[2020-08-27 09:34] LikeTheSalad commented on #5
This is very interesting, I wasn't aware of this deprecation. Thanks for letting me know about it :) I'll address it for the next release.

Btw, I'm curious about the previous issue you've found regarding the "tools" prefix on XML, I could see it on an email I got from Github. I think you found an interesting issue there as well, which most likely is related to the fact that I configured the plugi

[2020-08-27 22:45] green-green-avk commented on #5
Actually it was about <https://developer.android.com/studio/build/shrink-code.html>.
`tools:discard` and `tools:keep` must be in `<resources>`, not `<string>` (so, my mistake).
However finally I found the whole resource shrinking functionality broken somehow in my build environment independently of your plugin.

Though it would be good to have some additional attribute to exclude templates unneede

[2020-08-28 16:13] LikeTheSalad commented on #5
I see, thanks for your detailed response. In that case, I guess I won't be removing the params for now. Regarding your idea of making it configurable, it sounds good though so far I don't have a clear view of how it could be implemented, and also, there doesn't seem to be a need for it on a real use case. So I won't discard it, but I'll give it some time just to see what use cases may appear regar

[2020-10-25 12:58] DATL4G opened #6 "Help needed"
So I added this project as mentioned in README
My `root build.gradle.kts`:
[code]
My `app module build.gradle.kts` plugins:
[code]

And my `strings`:
[code]

Getting this string in `MainActivity`
[code]
returns
`https://github.com/${github_owner}/${github_repo}`

[2020-10-25 13:02] DATL4G commented on #6
Forgot the `template_` prefix
I should read more closely next time 😄

[2020-10-25 13:02] #6 closed

[2020-12-01 16:41] Fantastic12 opened #7 "Plugin don`t worked in Android lib modules"
Don`t worked in multi-module architecture)

[2020-12-01 17:30] LikeTheSalad commented on #7
Hi @Fantastic12, it's not completely clear to me what's your use case, however, if what you're trying to do is to resolve templates from a subproject dependency, then you can do so by setting the following flag to true:

[code]

You can find more info on configurable options here: https://github.com/LikeTheSalad/android-string-reference#3--configurable-options

I hope it helps.

[2020-12-08 09:24] Fantastic12 commented on #7
For example, I have 2 modules.
The first is the app module which has strings with $ {app_name}. The second utils module is android lib, let's say it also has strings with $ {app_name}. The problem is that I have code in the utils module that uses these strings, and this plugin generates strings only in the app module, respectively, the code that depends on these strings in the utils module breaks

[2020-12-08 09:38] LikeTheSalad commented on #7
I see, I think it's easy to solve, you should add in your utils module a string named "app_name" with some dummy text, for it to compile as an independent module, but no worries, because by the time you compile the app, the value "app_name" from the app will override the value "app_name" from the utils module, so in the end your generated strings will have the app's "app_name".

Btw, you should al

[2020-12-08 10:26] Fantastic12 commented on #7
Cool, thanks

[2020-12-08 10:26] #7 closed

[2020-12-08 16:11] Fantastic12 opened #8 "Plugin don`t worked in Dynamic Feature modules"
If in app has dynamic feature module, plugin not work

[2020-12-28 10:01] LikeTheSalad commented on #8
Hi @Fantastic12, sorry for the delay! - Yes you're right, the resolving strings process works at compile time on application modules, and a dynamic feature is downloaded after the app is compiled/installed, therefore it is not possible to make it work with a dynamic feature, unfortunately.

[2020-12-28 10:01] #8 closed

[2021-01-19 08:32] dantol1 opened #9 "String plurals support"
Hi, I didn't see any reference for this in the README, can I use this plugin with string plurals? and if so should I use the template_ prefix on the string key, the quantity key or both?

[2021-01-24 09:43] LikeTheSalad commented on #9
Hi @dantol1 - Since plurals isn't a string itself but rather a handy way to choose the right string at runtime depending on a quantity provided, then this plugin doesn't cover it as such, but you can still use the outcome of this plugin in a plural.

For example, by having the following template, `template_app_welcome`, set up:
[code]
You can tell that this plugin will generate a string named `app

[2021-02-02 09:20] dantol1 commented on #9
works great, thanks a lot!

[2021-02-02 09:37] LikeTheSalad commented on #9
Awesome! glad to hear it worked out well for you 👍

[2021-02-02 09:37] #9 closed

[2021-03-03 20:56] bmarty opened #10 "Generated file contains strings from default resource value"
This gradle plug-in works pretty well, but I noticed a problem when there are some missing template translations

For instance:
With file `values/strings.xml`
[code]

And French file `values-fr/strings.xml` with missing translation for `template_string_2`

[code]

Generated file `values-fr/resolved.xml` will contain
[code]

I do not expect string_2 to be include in the generated file for French, s

[2021-03-04 14:52] LikeTheSalad commented on #10
Hi @bmarty, many thanks for your feedback!

I see. There's a way we can sort it out that hopefully will suit you, if not, please let me know. Though basically you can avoid getting such string into other languages' generated files if you set its `translatable` parameter to `false`, e,g:

[code]

Please let me know if that doesn't work for you.

Regards,
Cesar

[2021-03-04 14:58] bmarty commented on #10
Thanks for the fast answer.
In my case, the string has to be translated (so I cannot use `translatable="false"`), but the translation is not done yet.

[2021-03-05 09:40] LikeTheSalad commented on #10
I see, got it. I remember leaving it like that to avoid double checking whether the user provided a translation because doing so could cause some performance penalties (and just leaving the string on the specific language wasn't causing any compilation issues, but I didn't think of lint issues) and also because I was thinking that, if someone didn't need a string translated, then they could just a

[2021-03-05 11:14] bmarty commented on #10
Wonderful, thanks!

For now I have disabled the lint check on those files (like that: https://github.com/vector-im/element-android/blob/develop/vector/lint.xml#L75).

I work on a project with many translations, so I can definitely not add `translatable="false"` as a workaround.

Anyway, there is no urgency to fix this issue!

I was also wondering if the plugin could also strip out the string start

[2021-03-05 14:06] LikeTheSalad commented on #10
Cool! glad you found a temporary solution 👍

That's also a great thing to consider when making the refactoring, I didn't know whether people would like to keep or not those template strings, so it is nice to have some input on that, thanks! I'll check what can be done about it.

Regards,
Cesar

[2021-04-10 08:01] bmarty opened #11 "Compatibility with gradle 7"
Hi,

I'm trying to migrate my project to gradle 7 and I get an error with your plugin:

[code]

https://docs.gradle.org/7.0/userguide/validation_problems.html#missing_annotation

Full logs of error can be found here: https://buildkite.com/matrix-dot-org/element-android/builds/1993

Thanks!

[2021-04-11 18:45] LikeTheSalad commented on #11
Hi @bmarty many thanks for your feedback!

I've just released a new version `1.2.2` where this issue should be fixed. Please let me know if that's not the case.

Regards,
Cesar

[2021-04-11 18:59] LikeTheSalad commented on #5
Hi @green-green-avk - this issue should be fixed in the new version `1.2.2`. Thanks again for your feedback!

Regards,
Cesar

[2021-04-11 19:09] bmarty commented on #11
Hello @LikeTheSalad , it seems fine on my computer, the CI will confirm it (https://github.com/vector-im/element-android/pull/3152). Thanks for the fast update!

[2021-04-18 09:09] LikeTheSalad commented on #11
Cheers! I'm going to close this because it seems like it's passing in your CI too, though please re-open it if that's not the case 👍

[2021-04-18 09:09] #11 closed

[2021-04-18 09:10] #5 closed

[2021-08-08 21:14] burhankhanzada commented on #8
what about install time dfm included with apk

[2021-09-11 14:10] davwheat opened #12 "`Unable to load class 'com.android.build.gradle.AppExtension'.`"
Hey, I'm trying to use the plugin with Kotlin's Gradle.

The setup instructions seem to be aimed at Java Gradle instead, so I've tried my best:

**settings.gradle**
[code]

**build.gradle (app module)**
[code]

[2021-09-11 15:49] davwheat commented on #12
So, using `1.2.1` results in the missing annotation errors in #5, and `1.2.2` refuses to Gradle Sync.

**1.2.1**:
![image](https://user-images.githubusercontent.com/7406822/132953594-aeece561-b69f-4bc8-a04a-a577921f5b4c.png)

**1.2.2**:
![image](https://user-images.githubusercontent.com/7406822/132953603-796185d7-c7d6-405f-b65c-96324c42ded7.png)

[2021-09-11 15:57] LikeTheSalad commented on #12
Hi @davwheat - I see, your gradle setup seems to be the newest one which might not be too popular yet in android projects, which is why I didn't include it for now in the docs.

I think the way you've set it up is right, but the only thing that seems a bit off for me is that you seem to be applying the plugin "placeholder-resolver" into your `settings.gradle` file. However, there's also a possibil

[2021-09-11 19:48] davwheat commented on #12
I've tried both of those, but they each result in the same error (attached below).

For now, I'm commenting out the plugin application in my app module `build.gradle` which lets me continue development.

<details>
<summary>Suuuper long error trace</summary>

[code]

</details>

[2021-09-12 08:48] LikeTheSalad commented on #12
Hi @davwheat - sorry to hear it. I was taking a look at it myself right now and it looks like this plugin does work with the latest, unstable android build plugin version `7.1.0-alpha11` version, however, for some reason, the way it's defined in the build.gradle files does make a difference when it comes to apply it, which is very interesting tbh, I think one would expect that no matter what Gradl

[2021-09-12 12:39] davwheat commented on #12
I think I've configured it how you suggested. I am new to Android development and using the newest syntax where there is little documentation for it online wasn't the smartest idea! 😅

I'm getting no errors, but the string replacement isn't actually happening.

Just to check, is this how you meant?

**settings.gradle**
[code]

**build.gradle (app)**
[code]

**build.gradle (project)**
[code]

[2021-09-12 13:04] LikeTheSalad commented on #12
Hi @davwheat - I see, no worries.

In terms of your gradle files, I think it's all right 👍 so I don't think the issue is caused by any gradle script - The only thing I'd change, just for cleaning up purposes, would be that I'd delete these 2 lines from the `settings.gradle` pluginManagement.plugins block:

[code]

Because they are no longer needed since you are adding the android build plugin clas

[2021-09-12 13:47] davwheat commented on #12
Ahh, I had removed the `template_` while troubleshooting! That was exactly the issue!

Thank you so much for your troubleshooting work, and for this fantastic plugin! :)

[2021-09-13 05:13] LikeTheSalad commented on #12
Hi @davwheat - I'm glad to know it's working now!

In regards to the quotes, I remember adding some validations around double quotes, are those the ones you're using?

[2021-09-13 07:42] davwheat commented on #12
Yes, it was double quotes. It was a bit like this:

[code]

[2021-09-13 07:42] #12 closed

[2021-09-13 08:45] LikeTheSalad commented on #12
Oh! I see, yeah it seems like a case that could have issues, thanks for your feedback, I'll address this in the next release 👍

In the meantime, just to have a reference when I'm working on the patch, please can you provide me the exact example of how do you have your strings set up? - It doesn't have to be the actual strings but at least to have the same quotes in the same places for reference.

[2021-09-21 10:09] khem-lang opened #13 "Not Working with Gradle 7.0.2"
Hi,
        My Gradle version is 7.02 and  com.likethesalad.android:string-reference:1.2.1 is not working it throw a blow error

 Could not GET 'https://dl.google.com/dl/android/maven2/com/likethesalad/android/string-reference/1.2.2/string-reference-1.2.2.pom'. Received status code 405 from server: Method Not Allowed.

Thanks

[2021-09-21 15:44] LikeTheSalad commented on #13
Hi @khem-lang - It seems like you are missing the `mavenCentral()` repo in your buildscript.repositories block in the root build.gradle file. If not sure about where you should place it, please show me how your root build.gradle buildscript block looks like and I can let you know based on your case where it should go.

Please let me know how it goes 👍

[2021-09-22 15:34] GLmaksym commented on #13
Hello @LikeTheSalad I am getting this error
[code]

Any ideas?

[2021-09-22 15:37] LikeTheSalad commented on #13
Hi @khem-lang - yes, it sounds like an issue for older versions, please use the latest one `1.2.2`.

[2021-10-10 12:15] #13 closed

[2021-10-15 16:07] bmarty opened #14 "Make the plug in works for modules"
The plug in works fine on applications, but not on module (with plugin 'com.android.library').

Do you think it is possible to make it work also for modules?

The context is this one: https://github.com/vector-im/element-android/issues/3955

[2021-12-07 10:47] alipov opened #15 "Remove templates from output binary"
@LikeTheSalad First of all I'd like to thank you for a great plugin!

Since templates by themselves are not intended to be directly used, my assumption is that they can be safely removed once plugin finished processing them. However, that's not the case: I've noticed that template string resources are not being removed from target APK file - and therefore increase precious APK file size.

Have you

[2021-12-07 20:14] LikeTheSalad commented on #15
Hi @alipov - Many thanks for your feedback!

That's actually something that I'm considering at the moment, ideally I want to make the templates to not get into the final build, although I'm pondering about the different types of solutions in a way that wouldn't compromise performance and usability. The thing is that, the Android build plugin takes every resource from those dirs, so if we want to a

[2021-12-16 11:35] alipov commented on #15
@LikeTheSalad Thanks a lot for a prompt and detailed response!

I've tried several ways to configure strings discarding (specific string value, the whole resource file containing string templates), but none of them worked.

Then I've jumped into AGP's source code (gradle_3.4.0 is the latest branch I found), [they mention](https://android.googlesource.com/platform/tools/base/+/refs/tags/gradle_3.4.

[2021-12-17 13:39] LikeTheSalad commented on #15
Hi @alipov, many thanks for your detailed explanation. I see, it seems like they have misleading information in the android devs website then. That's quite disappointing tbh.

I guess for now there's no alternatives using AGP existing tools, I'll leave this ticket open and I'm planning to take it next. Thanks again for your feedback.

[2021-12-22 23:52] danaimset commented on #14
Hi @LikeTheSalad  I can confirm that the plugin doesn't work for library project. For example:
I have a module `com.android.library` with string resource defined there aka
`<string name="template_welcome">Welcome to ${appName}</string>`
So the resolved string which is `welcome` is generated under corresponding folder in main app's module build directory and cannot be referenced from the xml or sou

[2022-01-04 08:28] LikeTheSalad commented on #10
Hi @bmarty, this issue should be fixed now in version 1.3.0. Please feel free to reopen this ticket if you find that's not the case.

[2022-01-04 20:04] bmarty commented on #15
This problem was mentioned in https://github.com/LikeTheSalad/android-string-reference/issues/10#issuecomment-791354031, thanks @alipov for creating a dedicated issue about it!

[2022-01-05 08:55] bmarty commented on #10
Hello @LikeTheSalad ,
Thanks for the release 1.3.0, our friend dependabot has upgraded the dependency to version 1.3.0 on our project, but the CI (lint) is not happy (see https://github.com/vector-im/element-android/pull/4854).

The first error is:
[code]

but the string (the template actually) is well defined in the default resource: https://github.com/vector-im/element-android/blob/d07dd154b8a4b

[2022-01-05 10:21] LikeTheSalad commented on #10
Oh, I think I know what's going on 🤦‍♂️ - I did add the validation to check for a template's location before storing the resolved string in a language folder, but now that I think about it better, even though this plugin knows about their connection (template and resolved string), still Android's lint rules don't... So to them they're still different resources, and it's not able to find the resolv

[2022-01-05 13:39] bmarty commented on #10
Thanks! I'll wait for v2.0.0 to consider upgrading our dependency then.

[2022-01-19 10:07] nk-contorra opened #17 "duplicate error for 'es-rES' locale in facebook sdk"
i have this import in build.gradle
implementation 'com.facebook.android:facebook-android-sdk:4.42.0'

and got this error:
Execution failed for task ':main:stringDebugResourceLocator'.

does preprocessor touching external libs? way to turn this off? thanks.

[2022-02-01 15:23] kgnkbyl commented on #17
Same issue with the latest facebook sdk. When i update it to the latest version.
Any solution for this?

[2022-02-03 17:18] vvasilev92 opened #18 "IDE errors Unresolved reference"
Is there a way to fix the Android Studio Unresolved Reference errors. I guess it's seeing the resources with the "template_" prefix but those aren't supposed to be used. Would that have to be handled via a plugin on android studio itself somehow?

[2022-02-09 20:43] LikeTheSalad commented on #18
Hi @vvasilev92 - I'm currently working on the next major version, 2.0.0, where you'd be able to define templates without the "template_" prefix. That way it will no longer be needed to compile to be able of referencing the resolved string as it's needed in the current versions.

[2022-02-19 15:23] LikeTheSalad commented on #18
Hi @vvasilev92 - Version 2.0.0 is now available, now the templates will no longer need to be named with the "template_" prefix, so there shouldn't be any unused resources in your project anymore when you switch to it. Although, please bear in mind that a lot of things have changed in this new version 2.0.0, there's a rebranding along with new dependencies parameters and plugin ID, so in order to a

[2022-02-19 15:23] #18 closed

[2022-02-19 15:26] LikeTheSalad commented on #17
Hi @nk-contorra, @kgnkbyl The new version 2.0.0 is now available. This new version only uses resources from your own libraries which you want to define as "resource providers", so it will no longer check all of your project dependencies, only the ones you want it to check (if any), meaning that the Facebook issue should be gone now. Although, please bear in mind that a lot of things have changed i

[2022-02-19 15:26] #17 closed

[2022-02-19 15:31] LikeTheSalad commented on #15
Hi @alipov - The new version 2.0.0 is now available, with this new version it is no longer needed to define your templates by adding the "template_" prefix to them, meaning that the same Android Plugin will take care of removing duplicates during compilation, thus avoiding unnecessary resources to get into your final build. Although, please bear in mind that a lot of things have changed in this ne

[2022-02-19 15:31] #15 closed

[2022-02-19 15:34] LikeTheSalad commented on #10
Hi @bmarty - The new version 2.0.0 is now available, it is no longer needed to define your templates by adding the "template_" to your string names anymore, which means that Lint shouldn't treat them as separate strings, thus avoiding the "translation" issue. Although, please bear in mind that a lot of things have changed in this new version 2.0.0, there's a rebranding along with new dependencies

[2022-02-19 15:34] #10 closed

[2022-02-19 15:37] LikeTheSalad commented on #14
Hi @bmarty @danaimset - The new version 2.0.0 is available, there are a lot of changes in it, including the fact that adding the "template_" prefix is no longer needed, and also, there's a new plugin ID created just for [Android Library projects](https://github.com/LikeTheSalad/android-stem#23--adding-it-to-your-own-android-libraries-optional). Please bear in mind that a lot of things have changed

[2022-02-19 15:37] #14 closed

[2022-02-20 10:56] LikeTheSalad commented on #1
Hi @mannodermaus, a lot has happened since the last time I visited this issue, but generally speaking I think this plugin has reached a level of maturity that makes me more comfortable to explore some updates for it. That being said, after doing some quick testing on using templates for dimens, the same way as this plugins does it for strings, I noticed that things won't be the same, unfortunately

[2022-02-20 10:56] #1 closed

[2022-02-22 17:55] mannodermaus commented on #1
Thank you for the feedback, @LikeTheSalad! :) No worries at all. I suppose that with Jetpack Compose on the map now and the virtues of simply using Kotlin for dp arithmetics, this feature request would be a lot less important in today's landscape. I appreciate the thought you've given it. Have a good one ✨

[2022-02-23 06:16] vvasilev92 opened #20 "resolved.xml not getting generated every other time"
**Version:** 2.0.0

**Description:**
I am noticing that when building from Android Studio every other time the resolved folder disappears. I reproduce this every even time by hitting `Run 'app'` and I look at the generated/resolved folder.

This leads to strings in the app appearing with their literal placeholder names.

I also managed to end up in a situation where only some of the strings were g

[2022-02-23 11:04] LikeTheSalad commented on #20
Hi @vvasilev92, the resolved folder should get emptied if there were changes made to the project's resources. This is to make sure that the resolved string are always up-to-date based on your templates.

When you say "This leads to strings in the app appearing with their literal placeholder names". Do you mean that you see the literal placeholder names in Android Studio's UI preview? Or in the ins

[2022-02-23 12:22] vvasilev92 commented on #20
Yes. I am not talking about previews but installed app. I reproduce this every time. I am using a gradle plugin version of:

`        classpath 'com.android.tools.build:gradle:7.1.0'`

I will try it with a clean project.

[2022-02-24 08:38] vvasilev92 commented on #20
@LikeTheSalad I made this repo - https://github.com/vvasilev92/LikeTheSaladTest
For me it's very easily reproducable that the string template does not work. If I run it consecutively from android studio, sometimes it's ok and shows the correct string substitution but some times I get:

![image](https://user-images.githubusercontent.com/91661923/155488636-74b86e68-dc99-4299-b70c-c37248df5af3.png)

[2022-02-24 10:53] LikeTheSalad commented on #20
Got it, thanks for the detailed info! I'm going to have a look by the end of the week because I can't right now, but in case you would like to make sure of always having the resolved strings, I'd recommend you to either do a clean->build... Or to manually run the resolver task, more info on that in the readme under "Running it manually". Based on what you described, it seems like some cache might

[2022-02-25 12:43] bmarty commented on #10
Thanks @LikeTheSalad ! Migrating to 2.0.0 is fine so far!

[2022-02-27 08:05] tocgic opened #21 "in multi languages use case, If the default language does not exist, other languages are not applied"
**version 2.0.0**

I am really grateful for what "template_" has been removed from 1.3.0 to 2.0.0. 🙇‍♂️

It seems to be really good when I go to one of 2.0.0, but it becomes more processing. 🙏

When using multi language,
If the MAIN RES ID does not use $ {app_name}, it will not be reflected in other languages.

Within our app/`main/res/values` folder, we have the following file:
[code]
👉   default

[2022-03-07 18:27] LikeTheSalad commented on #21
Hi @tocgic, thanks for your input.

I'm not sure if this is something that should be fixed, or if it should instead be some configurable feature, because the thing is that, usually the "main" and "language-specific" strings should have the same structure, meaning that if you need to use a placeholder in the language-specific one, it's because that placeholder is in the main one too. This helps fin

[2022-05-02 08:53] Florian14 commented on #21
We just observed the same behaviour in my current project. For the context, my app is a fork of another app, we changed the default language of the app and edited some strings. We added a placeholder only in one translation but not in the default one (we could have changed it but we didn't because it was not really necessary for us).

This is not really a problem but it took some time for us to ob

[2022-05-05 14:25] LikeTheSalad commented on #21
I see, thanks for the context @Florian14, I just wanted to make sure that there were cases in which there's no other way around but to define templates only on translations and not in the main resources, and taking into account that you're not the first person mentioning it, I think we can safely say that it can happen, although it doesn't seem to be a very common case. So for now I will address i

[2022-05-12 13:47] dodos90 opened #22 "java.lang.NoSuchMethodError: 'java.lang.Object dagger.internal.Preconditions.checkNotNullFromProvides' when syncing dependencies"
Hi,

I tried to use the version 2.0.0 of your library in a multi-module project of mine.

I added the following instruction into my root `build.gradle.kts` script, in the buildscript -> dependencies block :
`classpath("com.likethesalad.android:stem-plugin:2.0.0")`

I also tried to add the following to my library module :
`apply(plugin = "com.likethesalad.stem-library")`

and to my application :
`a

[2022-05-12 15:58] LikeTheSalad commented on #22
Hi @dodos90, thanks for your feedback!

I had this issue a while ago, but I was able to reproduce it once in a project from a company I worked for, which got solved after updating some plugins. I think it might be caused due to some Dagger versioning clashes across different Gradle plugins, or maybe due to the different mechanisms for Gradle to apply plugins (the "apply plugin" and the "plugins {}

[2022-05-13 09:43] dodos90 commented on #22
Hi @LikeTheSalad,

Thanks for the quick response !

I have managed to create a sample project reproducing the error, you can find it here :
https://github.com/dodos90/minimal-fail-reproduction-for-android-stem

Basically, I imported every dependency of my "main project" into this one, and removed them one by one until finding out the one causing all this trouble 😄

It appears that my `buildSrc/bui

[2022-05-13 12:46] LikeTheSalad commented on #22
Thanks @dodos90 this is very useful! Yeah no worries, definitely these 2 plugins must work well together, I think I know how to solve it but until now I wasn't able of checking whether it worked or not because I couldn't reproduce it, but now I'm sorted, thank you! I'll be working on a solution right now :+1:

Cheers!

[2022-05-16 08:23] LikeTheSalad commented on #20
Hi @vvasilev92, I just got chance to make updates here, it's been a couple of busy months. Though the issue you had should now be fixed on version 2.1.0, please feel free to reopen this ticket if you still running into this issue or a similar one :+1:

Cheers,
Cesar

[2022-05-16 08:23] #20 closed

[2022-05-16 08:27] LikeTheSalad commented on #21
Hi @tocgic, @Florian14

I just released the version 2.1.0 of Stem, where you'd be able to turn on the config for searching templates not only through your main string resources, but also through your language-specific ones. It is disabled by default so in order to enable it, you'd need to add this block of code into your `build.gradle` file where you've applied Stem plugin into:

[code]

More info

[2022-05-16 08:27] #21 closed

[2022-05-16 08:29] LikeTheSalad commented on #22
Hi @dodos90

I've just released the version 2.1.0 of Stem, where this issue should be fixed now. Many thanks for taking the time of providing a sample project where this issue was reproducible, it helped a lot!

Please feel free to reopen this issue if you still find the same problem after upgrading.

Cheers!

[2022-05-16 08:29] #22 closed

[2022-05-16 10:34] dodos90 commented on #22
Hi @LikeTheSalad ,

Thanks for the quick update !
I tried to add it to my project, however I'm running into the following error now :

`org.gradle.api.internal.artifacts.ivyservice.DefaultLenientConfiguration$ArtifactResolveException: Could not resolve all artifacts for configuration ':classpath'.
	at org.gradle.api.internal.artifacts.configurations.DefaultConfiguration.rethrowFailure(DefaultConfi

[2022-05-16 11:05] LikeTheSalad commented on #22
Hi @dodos90 ! Hmm I see, well, I uploaded all the artifacts to maven central, I noticed that the sample project you shared with me doesn't have the `mavenCentral()` repo in it's buildscript.repositories block (I had to add it during my tests). Can you check if maven central is added to your project buildscript repo list?

[2022-05-16 11:46] dodos90 commented on #22
Hi @LikeTheSalad, I updated my sample project to add the `mavenCentral()` repo in the buildscript.repositories block. However, I still have the same exception. You can find this updated version on my Github repo, if you need.

Based on https://mvnrepository.com/artifact/com.likethesalad, it seems that your latest version is not available (yet ?) on Maven Central (maybe there is a delay between the

[2022-05-16 12:18] LikeTheSalad commented on #22
Hi @dodos90 I just got your latest changes, and you're right, it doesn't find them. But I made it work by just moving "mavenCentral()" to be right before "gradlePluginPortal()" on the list, as I explained more in detail in this comment: https://github.com/dodos90/minimal-fail-reproduction-for-android-stem/commit/b8143bd12cbe7d7191ea854ce372b6adb535240f#r73754303

To be honest, you added the repo i

[2022-05-17 15:05] dodos90 opened #24 "Illegal escape character on Windows path"
Hi @LikeTheSalad (again 😄 ),

As a follow-up to my previous issue, I have been able to successfully add the plugin to my project.
However, when building my app, the plugin fails with the following error :

`Caused by: java.util.regex.PatternSyntaxException: Illegal/unsupported escape sequence near index 4
^C:\Users\MY_USERNAME\Projects\android-sample-project.+
    ^
	at kotlin.text.Regex.<init>(Re

[2022-05-17 15:25] LikeTheSalad commented on #24
Hi @dodos90 !

No worries, this is a great opportunity for me because I didn't get the chance to check how this plugin works on a Windows machine before. I don't see a way for you to bypass it, but it seems like an easy fix so I think I should be able to provide a patch later today.

[2022-05-17 17:14] LikeTheSalad commented on #24
Hi @dodos90 , the new version 2.1.1 is now available :+1: you should no longer see this issue with it, though please feel free to reopen this ticket otherwise.

Cheers!

[2022-05-17 17:14] #24 closed

[2022-05-19 15:06] dodos90 commented on #24
Thank you so much, everything works perfectly now ❤️

[2022-05-20 13:10] LikeTheSalad commented on #24
That's great news @dodos90 ! glad to help, and many thanks for your support! :pray: :heart:

[2022-05-25 10:38] saeidkh6991 commented on #20
hi
I use version 2.1.1 but have the same problem with Gradle 7.4.2 but when downgraded to Gradle 7.3.3 it worked.

[2022-05-29 09:11] LikeTheSalad commented on #20
Hi @saeidkh6991, I tried running the tests with Android Plugin 7.2.0 and Gradle 7.4.2 and they passed. Please make sure to use the versions for both plugins as specified in Android's Gradle plugin version table here: https://developer.android.com/studio/releases/gradle-plugin#updating-gradle

If you keep seeing the issue, please let me know more details about your build.gradle configs, or if possi

[2022-07-18 01:55] ankandrew commented on #20
@LikeTheSalad What's happening to me is that to be 100% sure text is generating correctly, I have to do `Build > Clean Project`. Is this expected?

[code]

[2022-07-18 01:59] YuuHaruna opened #26 "Namespace for prefix 'ns1' has not been declared."
Hi @LikeTheSalad, I'm using your stem plugin in my project. But when I use `com.likethesalad.android:stem-plugin:2.1.1`, I receive this error when build project: `Namespace for prefix 'ns1' has not been declared.`, which I haven't seen in version 2.0.0. What should I do now?

[2022-07-18 05:58] LikeTheSalad commented on #20
Hi @ankandrew, when you say 100%, does it mean that when you don't do `Clean` you get some unresolved placeholders? Or the placeholders are being resolved but with the wrong values?

The way this plugin works is:
- It checks if there have been changes within your resource dirs.
- If there are changes, it runs the resolving process.
- If no changes are found, it should do nothing, this is to make s

[2022-07-18 06:01] LikeTheSalad commented on #26
Hi @YuuHaruna, please can you share the error stacktrace? I need to know where in the plugin's code this issue is being triggered, so the stacktrace will help there.

Also, just to make sure, are you defining any property within your string resources (templates or placeholders) that uses an XML namespace named `ns1`?

[2022-07-18 20:17] ankandrew commented on #20
@LikeTheSalad Thanks for the quick reply! I meant that sometimes I get unresolved placeholders when building normally and to be sure those placeholders are resolved **always**, I've to do `Build > Clean Project`. I haven't observed any pattern why this is happening though

[2022-07-19 06:43] LikeTheSalad commented on #26
Hi @YuuHaruna, thanks, this is a very interesting issue, I think I know what's going on. So amongst the targets of Stem, we have the build.gradle generated Android strings and also strings coming from 'stem-library's, and what those have in common is that they've been processed by the Android Gradle plugin, which apparently ([according to this thread](https://stackoverflow.com/questions/19526945/a

[2022-07-20 06:08] LikeTheSalad commented on #20
I see, thanks for letting me know! It seems like there might be some sort of cache, not sure if Gradle or Android Studio related, that might be keeping the resolving process from running :( though I'd need to know how to reproduce it so that I can fix it. Otherwise I was thinking maybe to add some sort of config param that would make Stem run all the time, no matter if there are changes or not, it

[2022-07-20 22:16] ankandrew opened #27 "Ocasional unresolved placeholders"
@LikeTheSalad I'm opening this issue to avoid spamming the other closed one. Following [this conversation](https://github.com/LikeTheSalad/android-stem/issues/20#issuecomment-1189867374), seems like sometimes placeholders aren't resolved. To be sure placeholders **are resolved** I have to do `Build > Clean Project`.

I've uploaded a sample to reproduce, which I'm seeing the exact same problem: htt

[2022-07-21 05:50] LikeTheSalad commented on #27
Hi @ankandrew! yeah I agree it's better to have its own ticket 👍

Many thanks for your sample project, it helps a lot to find the root cause issues! Just one more thing though, please can you let me know what version of Android Studio are you using (I want to make sure if it's a Gradle or an Android Studio related issue), and also, do you have a rough idea of what steps are likely to reproduce the

[2022-07-22 21:04] ankandrew commented on #27
Sure @LikeTheSalad, sorry for the late response.

### Android Studio & Related information

[code]

### Steps to Reproduce Issue

1. I start from uninstalled app on device
2. Building and Installing the app shows the correct results (placeholders being resolved)
3. Hit `Run app` (green triangle) on Android Studio
4. Placeholders aren't resolved

[2022-07-27 11:57] LikeTheSalad commented on #27
Got it, many thanks for all the details!

[2022-08-15 15:33] LikeTheSalad commented on #26
I've just released version `2.2.0` which takes care of handling namespaces correctly. Please feel free to reopen this ticket if you still find the same issue after upgrading Stem.

[2022-08-15 15:33] #26 closed

[2022-08-15 15:38] LikeTheSalad commented on #27
Hi @ankandrew, I tried following the steps you mentioned but I couldn't repro the issue. I ran the app multiple times, without changing the placeholders, then after changing them and in none of those cases I got an unresolved placeholder. The only thing that comes to my mind that could be happening it's if the [resolving task](https://github.com/LikeTheSalad/android-stem#running-it-manually) doesn

[2022-08-16 00:47] ankandrew commented on #27
@LikeTheSalad Thanks for giving it a look!

<details>
  <summary>Tasks executed when I see the error</summary>

[code]

</details>

[2022-08-16 06:43] LikeTheSalad commented on #27
Got it, so it seems like the resolving task has run there `> Task :app:resolveDebugPlaceholders` there's no "UP-TO-DATE" next to it so it definitely ran. Now, all is left is checking if the generated XML file has its strings properly resolved `app/build/generated/resolved/debug/values/resolved.xml` From that on, if the resolved.xml file has its values correctly, and yet the running app doesn't, th

[2022-08-17 02:18] ankandrew commented on #27
@LikeTheSalad Yep, the output from my last comment isn't from the sample project but from the real one. Anyway I'm experimenting the same in both.

I actually don't see any file in this path `app/build/generated/resolved/debug/values/resolved.xml` when I get unresolved references. Interesting that when I do the `Clean Project` trick I'm able to see these files.

### Files structure (**Working**)

[2022-08-17 06:37] LikeTheSalad commented on #27
This is key to know where to go next, so it could be that, either Stem can't create its output folders sometimes, or, there might be something external clearing this part of the build directory. Interestingly enough, the "build/generated/res" dir seems to be left untouched, probably because it's Android's official dir to place their generated resources, so it makes sense that, if it's the case tha

[2022-08-17 22:59] ankandrew commented on #27
@LikeTheSalad Yep, I'm available to test any snapshot build to test it out and check if fixes this problem. What's weird with this problem is:

* Why after `Cleaning Project` the path/folder is created properly
* You can't reproduce. Might be an OS problem?

[2022-08-18 07:46] LikeTheSalad commented on #27
Awesome thanks! Yeah I thought about that, though I don't have a Windows machine to test it on my side with the same OS. But I'll have a look at possible Gradle issues with Windows to check that possibility, the way Stem creates its output dir right now is by delegating that to Gradle's internal tools, so if there's an issue with that, I should be able to find something about it on the internet. A

[2022-08-19 14:01] bmarty opened #29 "Upgrading from 2.1.1 to 2.2.0: the project does not compile anymore."
Here is the compilation error:

See https://github.com/vector-im/element-android/pull/6882

Not sure if this is due to another dependency upgrade, since with this other PR, from an older version of develop, it was compiling fine: https://github.com/vector-im/element-android/pull/6838

I am investigating in parallel.

[2022-08-24 07:17] LikeTheSalad commented on #29
Hi @bmarty thanks for your feedback! It's not another dependency no worries, it's Stem. It seems like one of Stem's dependencies (the one containing that missing class) isn't being fetched by Gradle for some reason. I already created [an issue for it](https://github.com/gradle/gradle/issues/21638), however in the meantime I'm going to release a patch that doesn't rely on Gradle fetching other depe

[2022-08-27 13:26] LikeTheSalad commented on #29
Please try again but with the just released version `2.2.1` it should be working fine.

[2022-08-27 15:00] LikeTheSalad commented on #27
Hi @ankandrew - apologies for the delay, it's been a crazy week. Ok so I just created a snapshot build version `2.2.2-SNAPSHOT` - It's in Maven central's snapshot repo so you'll have to add it to your buildscript.repositories block:

[code]

After adding Stem's version `2.2.2-SNAPSHOT` to your project and running it, you should see some stem logs in the console output, they all start with `[STEM]`

[2022-08-29 01:57] ankandrew commented on #27
Thanks @LikeTheSalad  for providing the snapshot! So what I'm observing is that I don't see [STEM] logs in the build when it's not working compared when it is.

### Logs

#### Working (Placeholders are resolved)

[code]

#### NOT Working (Placeholders are NOT resolved)

[code]

[2022-08-29 06:57] LikeTheSalad commented on #27
Got it, thanks! Ok so it seems like nothing is deleting this dir, but rather it's just not being run (or it is, but it's just cleaning up its output, usually this happens when the inputs are empty). We need to know why, usually that kind of information is provided by Gradle when the `--info` flag is passed. So please if you can run it when not working like so: `./gradlew assembleDebug --info`. Tha

[2022-08-29 21:39] ankandrew commented on #27
@LikeTheSalad I think this will held some interesting results. I attach you below the full build log (all tasks included)

### Unresolved placeholders

[build_log_not_working.txt](https://github.com/LikeTheSalad/android-stem/files/9448084/build_log_not_working.txt)

### Resolved placeholders

[build_log_working.txt](https://github.com/LikeTheSalad/android-stem/files/9448085/build_log_working.txt)

[2022-08-30 07:12] LikeTheSalad commented on #27
Oh my God, I think I know what happens 🤦 - According to the output, Stem is including its output (resolved.xml files) as its inputs. That's not good, and it shouldn't be happening because I added filters for it, the thing is that, those filters include file paths that I defined with `/` as separators... And for Windows it'd be `\` instead, so maybe that's why the filter isn't working on Windows X_

[2022-08-31 02:54] ankandrew commented on #27
Yep, that did it. No longer I can reproduce this error with the `2.2.2-SNAPSHOT` :). I attach anyways the build log of running `./gradlew assembleDebug --info` below.

[build_log_after_fix.txt](https://github.com/LikeTheSalad/android-stem/files/9457930/build_log_after_fix.txt)

[2022-08-31 07:22] LikeTheSalad commented on #27
Awesome! I've just released version `2.2.2` with this fix. Many thanks for your help in solving this issue, I couldn't even notice it by myself since I'm not on Windows, so all your support was key to sort this out!

I'm going to close this issue now, feel free to reopen it if needed.

Thanks again.

[2022-08-31 07:22] #27 closed

[2022-08-31 19:55] ankandrew commented on #27
Thanks a lot for the patience and fixing the issue! Glad that now works :)

[2022-09-01 12:26] bmarty commented on #29
Yes, it seems to be fine now. Thanks!
Ref: https://github.com/vector-im/element-android/pull/6983

[2022-09-01 13:28] LikeTheSalad commented on #29
Awesome! I'm closing this issue then, cheers.

[2022-09-01 13:28] #29 closed

[2022-09-16 00:24] danaimset opened #32 "Gradle's configuration cache could not be enabled"
If project has `org.gradle.unsafe.configuration-cache=true` then build fails:
[code]

[2022-09-17 13:10] LikeTheSalad commented on #32
Hi @danaimset, I see. I just checked and it seems like [this feature is incubating](https://docs.gradle.org/current/userguide/configuration_cache.html), as of today's latest Gradle version, so it can get major changes on next versions that might break whatever I might do right now to avoid this issue. So I prefer to wait until it's stable.

Also, to be honest the error message you've shared doesn'

[2022-09-29 06:40] hmy65 opened #33 "place holder still shows ${ref}"
gradle 7.4
android gradle plugin 7.3.0

in the generated resolved.xml, it shows the correct string

but in app, it just shows ${ref} ...

any possible reasons? thanks.

[2022-10-03 09:22] 108085 commented on #33
got the same issue

[2022-10-03 10:55] LikeTheSalad commented on #33
Hi! thanks for your feedback. Maybe Google changed the way to define extra resource dirs, I haven't taken a look at it yet, I've had a busy couple of days lately, though I'm planning to take a look this week

[2022-10-03 13:30] Szczypiorek44 commented on #33
Same issue here. Can't wait for the fix :)
android gradle plugin 7.3.0
gradle-7.4.2-all.zip

[2022-10-07 10:39] francescofornasini commented on #33
Same issue, i resolved temporarily by adding these lines of code in the android block of the app's gradle
[code]

[2022-10-08 01:37] hmy65 commented on #33
Confirmed.
By adding these lines of code under app:gradle android{} block, this problem has been temporarily fixed.
Thanks for sharing.

[2022-10-09 11:50] #33 closed

[2022-10-09 11:51] LikeTheSalad commented on #33
Thanks for the feedback guys, this should be fixed now on version `2.2.3` - Please feel free to reopen it if you still get the issue.

[2022-10-14 02:15] oakkitten opened #35 "Old output is reused unless I clear all caches"
I tried using this lovely plugin in a project I'm working on, and I ran into a problem. It works, but only once after cleaning the project (`./gradlew clean`) and removing build cache (`.gradle/caches/build-cache-1`). This happens 100% of the time. For some reason the tasks that depend on this plugin's tasks appear `UP-TO-DATE`. This just might be a problem with the project, but I have no idea how

[2022-10-14 06:31] LikeTheSalad commented on #35
Hi @oakkitten - I remember [a similar issue](https://github.com/LikeTheSalad/android-stem/issues/27) that was only happening on Windows machines due to the '/' '\\' file path separator differences. It should be fixed now, however for some reason you seem to be getting the same issue.

In order to know what could be happening, I'm going to need the `--info` console output for when you build your pr

[2022-10-14 15:42] oakkitten commented on #35
Sure, here's the logs. Just say if you need anything else.

* [1-clean-build.txt](https://github.com/LikeTheSalad/android-stem/files/9787858/1-clean-build.txt) — output of `./gradlew :AnkiDroid:assembleAmazonDebug --info` after doing `./gradlew clean`, removing `~/.gradle/caches/build-cache-1` and killing the daemon
* [2-build-right-after-clean-build.txt](https://github.com/LikeTheSalad/android-st

[2022-10-17 06:52] LikeTheSalad commented on #35
Hi @oakkitten - Thanks for the info. I was checking it out and I noticed that it all seems to be working well in terms of normal Stem execution, I can tell this because on the 3rd file, line 1437, it reads: `Task ':AnkiDroid:resolveAmazonDebugPlaceholders' is not up-to-date because:` followed by the files changed after you modified a string with `${}`, meaning that, the resolving process did run a

[2022-10-17 11:11] oakkitten commented on #35
I tried adding the following into the app gradle file

[code]

This does get rid of the warning, but otherwise does not help. 😔

I also ran the task tree tool. This is probably obvious for anyone who made a gradle plugin, but it seems that `processAmazonDebugResources` depends on `mergeAmazonDebugResources` and that depends on `resolveAmazonDebugPlaceholders`. Somehow even though the `resolve` tas

[2022-10-30 08:29] LikeTheSalad commented on #35
I see, it seems like your task to extract deeplinks might not be properly wired into the Gradle task graph. I'd say the best way to connect tasks is by connecting their outputs/inputs, as explained here: https://docs.gradle.org/current/userguide/lazy_configuration.html#working_with_task_dependencies_in_lazy_properties

Since the overall Stem work is done properly, I'm going to close this ticket.

[2022-10-30 19:29] oakkitten commented on #35
Hm, I suppose that would mean there's a bug in AGP, then? Is this something that we could report to Google?

[2022-10-31 07:10] LikeTheSalad commented on #35
It depends on what your task is supposed to do, if it's gathering all the resources from your app, then I'd recommend taking a look at the AGP API to see if they have a native way of providing them. [They used to provide it](https://android.googlesource.com/platform/tools/base/+/studio-master-dev/build-system/gradle-core/src/main/java/com/android/build/gradle/api/BaseVariant.java#673), however, th

[2022-10-31 08:19] oakkitten commented on #35
It's not our own task, I believe it comes from AGP. [This](https://android.googlesource.com/platform/tools/base/+/studio-master-dev/build-system/gradle-core/src/main/java/com/android/build/gradle/tasks/ExtractDeepLinksTask.kt), I guess?

[2022-11-07 07:23] LikeTheSalad commented on #35
Oh! I see, I wasn't aware of it. I'll take a deeper look at that task to see if it's possible to properly connect it to Stem.